/** Please add your Custom Files **/



body,html {margin-top: 0;}

@media (min-width: 768px)
body {
    margin-top: 65px;
}


xmp {background: #eee;
padding: 0 25px 15px;
font-family: monospace;
font-size: 11px;
color: #000;
border-left: 3px solid #FF5800;}

h2 {font-size: 26px; line-height: 48px;}